.rst-content pre {
    border: none !important;
    border-radius: 1px;
    background: transparent !important;
    padding: 1em !important;
}

code[class*="language-"],
pre[class*="language-"] {
    text-shadow: none !important;
}